@page "/posts/{id}"

@using wedditBlazor.Services;
@using shared.Model;
@inject ApiService apiService

@if (Post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@Post.Title</p>
    <p>User: @Post.User.Username Dato: @Post.Date.ToShortDateString()</p>
    <p>@Post.Text</p>
    <p>Votes: @Post.Votes</p>

    <CreateComment PostId=@PostId></CreateComment>

    @foreach (var comment in Post.Comments)
    {
        <p>@comment.User.Username @comment.Date.ToShortDateString()</p>
        <p>@comment.Text</p>
        <p>@comment.Votes</p>
        <td><button @onclick="() => Vote(comment.CommentId, true)">Updoot</button></td>
        <td><button @onclick="() => Vote(comment.CommentId, false)">Downdoot</button></td>
    }
}


@code {
    [Parameter]
    public string Id { get; set; }
    public int PostId { get { return int.Parse(Id); } }
    public Post Post { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Post = await apiService.GetPost(PostId);
    }
    private async void Vote(int id, bool updown)
    {
        var updatedComment = await apiService.VoteComment(id, updown);
    }

}